-- Fix ai_conversations table schema for Bible Aura Chat
-- Run this SQL in your Supabase SQL Editor

-- Drop existing table if there are issues
DROP TABLE IF EXISTS public.ai_conversations CASCADE;

-- Create the ai_conversations table with correct schema
CREATE TABLE public.ai_conversations (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
    title TEXT NOT NULL,
    messages JSONB NOT NULL DEFAULT '[]'::jsonb,
    mode TEXT NOT NULL DEFAULT 'verse-clean',
    language TEXT NOT NULL DEFAULT 'english',
    translation TEXT NOT NULL DEFAULT 'KJV',
    created_at TIMESTAMP WITH TIME ZONE DEFAULT TIMEZONE('utc'::text, NOW()) NOT NULL,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT TIMEZONE('utc'::text, NOW()) NOT NULL
);

-- Create indexes for better performance
CREATE INDEX idx_ai_conversations_user_id ON public.ai_conversations(user_id);
CREATE INDEX idx_ai_conversations_updated_at ON public.ai_conversations(updated_at DESC);
CREATE INDEX idx_ai_conversations_user_updated ON public.ai_conversations(user_id, updated_at DESC);

-- Enable Row Level Security
ALTER TABLE public.ai_conversations ENABLE ROW LEVEL SECURITY;

-- Create RLS policies for security
CREATE POLICY "Users can view own conversations" ON public.ai_conversations
    FOR SELECT USING (auth.uid() = user_id);

CREATE POLICY "Users can insert own conversations" ON public.ai_conversations
    FOR INSERT WITH CHECK (auth.uid() = user_id);

CREATE POLICY "Users can update own conversations" ON public.ai_conversations
    FOR UPDATE USING (auth.uid() = user_id);

CREATE POLICY "Users can delete own conversations" ON public.ai_conversations
    FOR DELETE USING (auth.uid() = user_id);

-- Create function to automatically update updated_at timestamp
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = TIMEZONE('utc'::text, NOW());
    RETURN NEW;
END;
$$ language 'plpgsql';

-- Create trigger for updated_at
DROP TRIGGER IF EXISTS update_ai_conversations_updated_at ON public.ai_conversations;
CREATE TRIGGER update_ai_conversations_updated_at
    BEFORE UPDATE ON public.ai_conversations
    FOR EACH ROW
    EXECUTE FUNCTION update_updated_at_column();

-- Add constraint to ensure messages is a valid JSON array
ALTER TABLE public.ai_conversations 
ADD CONSTRAINT ai_conversations_messages_check 
CHECK (jsonb_typeof(messages) = 'array');

-- Grant necessary permissions
GRANT ALL ON public.ai_conversations TO authenticated;
GRANT ALL ON public.ai_conversations TO service_role;

-- Test the table (optional - you can remove this)
-- INSERT INTO public.ai_conversations (user_id, title, messages, mode) 
-- VALUES (auth.uid(), 'Test Chat', '[]'::jsonb, 'verse-clean');

COMMENT ON TABLE public.ai_conversations IS 'Stores AI chat conversations for Bible Aura users';
