-- Safe fix for ai_conversations table schema for Bible Aura Chat
-- Run this SQL in your Supabase SQL Editor

-- First, remove any problematic constraints
ALTER TABLE public.ai_conversations DROP CONSTRAINT IF EXISTS ai_conversations_messages_check;

-- First, check if table exists and create if it doesn't
CREATE TABLE IF NOT EXISTS public.ai_conversations (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
    title TEXT NOT NULL,
    messages JSONB NOT NULL DEFAULT '[]'::jsonb,
    mode TEXT NOT NULL DEFAULT 'verse-clean',
    language TEXT NOT NULL DEFAULT 'english',
    translation TEXT NOT NULL DEFAULT 'KJV',
    created_at TIMESTAMP WITH TIME ZONE DEFAULT TIMEZONE('utc'::text, NOW()) NOT NULL,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT TIMEZONE('utc'::text, NOW()) NOT NULL
);

-- Add missing columns if they don't exist (safe to run multiple times)
DO $$ 
BEGIN
    -- Add mode column if it doesn't exist
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='ai_conversations' AND column_name='mode') THEN
        ALTER TABLE public.ai_conversations ADD COLUMN mode TEXT NOT NULL DEFAULT 'verse-clean';
    END IF;
    
    -- Add language column if it doesn't exist
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='ai_conversations' AND column_name='language') THEN
        ALTER TABLE public.ai_conversations ADD COLUMN language TEXT NOT NULL DEFAULT 'english';
    END IF;
    
    -- Add translation column if it doesn't exist
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='ai_conversations' AND column_name='translation') THEN
        ALTER TABLE public.ai_conversations ADD COLUMN translation TEXT NOT NULL DEFAULT 'KJV';
    END IF;
END $$;

-- Create indexes for better performance (safe to run multiple times)
CREATE INDEX IF NOT EXISTS idx_ai_conversations_user_id ON public.ai_conversations(user_id);
CREATE INDEX IF NOT EXISTS idx_ai_conversations_updated_at ON public.ai_conversations(updated_at DESC);
CREATE INDEX IF NOT EXISTS idx_ai_conversations_user_updated ON public.ai_conversations(user_id, updated_at DESC);

-- Enable Row Level Security
ALTER TABLE public.ai_conversations ENABLE ROW LEVEL SECURITY;

-- Drop existing policies to recreate them (safe way to update)
DROP POLICY IF EXISTS "Users can view own conversations" ON public.ai_conversations;
DROP POLICY IF EXISTS "Users can insert own conversations" ON public.ai_conversations;
DROP POLICY IF EXISTS "Users can update own conversations" ON public.ai_conversations;
DROP POLICY IF EXISTS "Users can delete own conversations" ON public.ai_conversations;

-- Create RLS policies for security
CREATE POLICY "Users can view own conversations" ON public.ai_conversations
    FOR SELECT USING (auth.uid() = user_id);

CREATE POLICY "Users can insert own conversations" ON public.ai_conversations
    FOR INSERT WITH CHECK (auth.uid() = user_id);

CREATE POLICY "Users can update own conversations" ON public.ai_conversations
    FOR UPDATE USING (auth.uid() = user_id);

CREATE POLICY "Users can delete own conversations" ON public.ai_conversations
    FOR DELETE USING (auth.uid() = user_id);

-- Create function to automatically update updated_at timestamp
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = TIMEZONE('utc'::text, NOW());
    RETURN NEW;
END;
$$ language 'plpgsql';

-- Create trigger for updated_at (drop first to avoid conflicts)
DROP TRIGGER IF EXISTS update_ai_conversations_updated_at ON public.ai_conversations;
CREATE TRIGGER update_ai_conversations_updated_at
    BEFORE UPDATE ON public.ai_conversations
    FOR EACH ROW
    EXECUTE FUNCTION update_updated_at_column();

-- Grant necessary permissions
GRANT ALL ON public.ai_conversations TO authenticated;
GRANT ALL ON public.ai_conversations TO service_role;

-- Fix any existing data format issues
UPDATE public.ai_conversations 
SET messages = '[]'::jsonb 
WHERE messages IS NULL OR jsonb_typeof(messages) != 'array';

-- Test query to verify everything works
-- SELECT 
--     table_name,
--     column_name,
--     data_type,
--     is_nullable
-- FROM information_schema.columns 
-- WHERE table_name = 'ai_conversations' 
-- ORDER BY ordinal_position;

COMMENT ON TABLE public.ai_conversations IS 'Stores AI chat conversations for Bible Aura users - Fixed constraint issues';
